# LLVM tests
/llvm/test/
/llvm/unittests/

# LLVM docs
/llvm/docs/*
!/llvm/docs/LLVMBuild.txt

# LLVM unnecessary targets
/llvm/lib/Target/*/**/*
!/llvm/lib/Target/*/**/*/
!/llvm/lib/Target/X86/**
!/llvm/lib/Target/AArch64/**
!/llvm/lib/Target/ARM/**
!/llvm/lib/Target/**/LLVMBuild.txt

# Clang tests
/clang/test/
/clang/unittests/

# Clang docs
/clang/docs

# zlib
/zlib/zconf.h

# libxml2
/libxml2/*/
/libxml2/[^/]*
!/libxml2/include/
!/libxml2/*.[c|h]
/libxml2/**/Makefile.am
